.tooltip {
    text-decoration: underline;
    color: #84E;
}

.tooltip::after {
    content: attr(data-title);
    max-width: 200px;
    padding: 5px 10px;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 1.4em;
    color: #FFF;
    background-color: #84E;
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 10px);
}

.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 5px);
    transition: all 0.2s ease;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

p {
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 1.5em;
}